{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Homepage</h1>
    <form action="{% url 'search_results' %}" class="form-inline mt-2 mt-md-0" method="get">
        <input type="text" class="form-control mr-sm-2" name="search" placeholder="Search" aria-label="Search">
    </form>
    {% if user.is_authenticated %}
        <p>Hi {{ user.email }}</p>
        <a href="{% url 'account_logout' %}">Log Out</a>
    {% else %}
        <p>You're not logged in.</p>
        <a href="{% url 'account_login' %}" class="btn btn-primary">Log In</a>
        <a href="{% url 'account_signup' %}">Sign Up</a>
        <a href="{% provider_login_url 'github' %}" class="btn btn-dark btn-block">Sign Up with Github</a>
        <a href="{% provider_login_url 'discord' %}" class="btn btn-info btn-block">Sign Up with Discord</a>
    {% endif %}
{% endblock %}